<h1>{{ $parent.settings.pageTitle }}</h1>

<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="row">
<div class="col-xs-10 panel panel-info">

	<div class="panel-heading">Informacion de la aplicaci&oacute;n</div>
	<div class="panel-body">
		
	<div class="required-field-block">
		<label for="txtIngenieroTec">Ingeniero DBA</label>
		<select id="txtIngenieroTec" class="form-control" ng-options="item.id as item.nombres +' '+ item.apellidos for item in ingenieros" ng-model="aplicacion.dba_id">
		<option value="">Seleccione un ingeniero</option>
		</select>
	</div>
	
	<div class="required-field-block">
		<label for="txtIngenieroServ">Ingeniero Tecnico</label>
		<select id="txtIngenieroServ" class="form-control" ng-options="item.id as item.nombres +' '+ item.apellidos for item in ingenieros" ng-model="aplicacion.tec_id">
		<option value="">Seleccione un ingeniero</option>
		</select>
	</div>


	<div class="required-field-block">
		<label for="txtCodigoAplicacion">C&oacute;digo Aplicaci&oacute;n</label>
		<input id="txtCodigoAplicacion" type="text" placeholder="Texto corto" ng-model="aplicacion.codigo_aplicacion" class="form-control">

	</div>

	<div class="required-field-block">
		<label for="txtNombreAplicacion">Nombre aplicaci&oacute;n</label>
		<input id="txtNombreAplicacion" type="text" placeholder="Titulo" ng-model="aplicacion.nombre_aplicacion" class="form-control">

	</div>



	<div class="required-field-block">
		<label for="selEstado" >Estado</label>
		<select ng-model="aplicacion.estado" class="form-control">
			
			<option class="form-control" ng-selected="aplicacion.estado == 1" value="1">En producci&oacute;n</option>
			<option class="form-control" ng-selected="aplicacion.estado == 2" value="2">En Implementaci&oacute;n</option>
			<option class="form-control" ng-selected="aplicacion.estado == 3" value="3">En Retiro</option>
			<option class="form-control" ng-selected="aplicacion.estado == 4" value="4">Retirado</option>
		
		</select>

	</div>
	<br>
	<div align="center" class="row">
		<!-- <a ng-if="$parent.settings.edicion" class="btn btn-success" href="#/createConf/{{aplicacion.id}}">Agregar Configuracion</a> -->
		<a ng-if="$parent.settings.edicion" class="btn btn-success" href="#/addMod/{{aplicacion.id}}">Agregar M&oacute;dulo</a>
	</div>
	</div>
	</div>

	
</div>
	<br>
	<div class="row">
	<!--
		<div class="col-xs-6">
			<h4><strong>Configuraciones</strong></h4>
			<div class="required-field-block">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="conf in aplicacion.Configuraciones">
					<a href="#/editConf/{{conf.id}}">{{conf.servidor}} - {{conf.ip}}</a>
					<div class="pull-right action-buttons">
						<a href="#/editConf/{{conf.id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a ng-click="borrarConfiguracion(conf.id)" class="trash">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</div>
					<p>
						<ul>
							<li><strong>Usuario:</strong> {{conf.usuario}}</li>
							<li><strong>Contraseña:</strong> {{conf.password}}</li>
							<li><strong>Notas: </strong>
								<p>{{conf.nota}}</p>
							</li>
						</ul>
					</p>
					
				</li>
			</ul>
			</div>
		</div>
	-->
		<div class="col-xs-10">
		
			<h4><strong>Modulos </strong></h4>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="modulo in aplicacion.Modulos">
						<a href="#/editMod/{{modulo.id}}">{{modulo.nombre_modulo}}</a>
						
						<div class="pull-right action-buttons">
							<a href="#/editMod/{{modulo.id}}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a ng-click="borrarModulo(modulo.id)" class="trash">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</div>
						<p>
							<ul>
								<li>Nombre modulo: {{modulo.nombre_modulo}}</li>
								<li>Tipo modulo:
									<div ng-switch on="modulo.tipomodulo">
										<div ng-switch-when="1">Cliente Servidor</div>
										<div ng-switch-when="2">Web</div>
										<div ng-switch-when="3">Cloud</div>
										<div ng-switch-when="4">Movil</div>
									</div>								
								</li>
								<li>Estado:
									<div ng-switch on="modulo.estado">
										<div ng-switch-when="1">En producción</div>
										<div ng-switch-when="2">En Implementación</div>
										<div ng-switch-when="3">En Retiro</div>
										<div ng-switch-when="4">Retirado</div>
										<div ng-switch-when="5">No Funcional</div>
										<div ng-switch-when="6">No Utilizado</div>
									</div>								
								</li>
							</ul>
						</p>
						
					</li>
				</ul>
			</div>
		
		</div>
		
	</div>
	
		
	
</div>

<br>
<div class="row">
<button class="btn btn-primary" ng-click="submit($parent.aplicacion)">{{ $parent.settings.action }}</button>
</div>

