<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required-field-block">
	<label for="txtNombres">Nombres</label>
	<input id="txtNombres" type="text" placeholder="nombres" ng-model="ingeniero.nombres" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtApellidos">Apellidos</label>
	<input id="txtApellidos" type="text" placeholder="apellidos" ng-model="ingeniero.apellidos" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtCorreos">Correo</label>
	<input id="txtCorreos" type="text" placeholder="email" ng-model="ingeniero.correo" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtTelefono">Telefono</label>
	<input id="txtTelefono" type="text" placeholder="telefono" ng-model="ingeniero.telefono" class="form-control">
</div>


<div class="required-field-block">
	<label for="txtCelular">Celular</label>
	<input id="txtCelular" type="text" placeholder="celular" ng-model="ingeniero.celular" class="form-control">
</div>


<div class="required-field-block">
	<label for="txtExtension">Extension</label>
	<input id="txtExtension" type="text" placeholder="extension" ng-model="ingeniero.extension" class="form-control">
</div>

<div class="required-field-block">
	<div class="checkbox">
		<label for="chkSI">
			<input id="chkSI" class="checkbox" type="checkbox"
		   ng-model="ingeniero.trabajasi">Trabaja en SI
		</label>
	</div>
</div>

<div class="required-field-block">
	<div class="checkbox">
		<label for="chkTI">
			<input id="chkTI" class="checkbox" type="checkbox"
		   ng-model="ingeniero.trabajati">Trabaja en TI
		</label>
	</div>
</div>

<button class="btn btn-primary" ng-click="submit($parent.ingeniero)">{{ $parent.settings.action }}</button>