<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required-field-block">
	<label for="txtServidor">Servidor</label>
	<input id="txtServidor" type="text" placeholder="Nombre servidor" ng-model="Configuracion.servidor" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtIP">IP</label>
	<input id="txtIP" type="text" placeholder="IP" ng-model="Configuracion.ip" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtUsuario">Usuario</label>
	<input id="txtUsuario" type="text" placeholder="Usuario" ng-model="Configuracion.usuario" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtPassword">Password</label>
	<input id="txtPassword" type="text" placeholder="" ng-model="Configuracion.password" class="form-control">

</div>

<div class="required-field-block">
	<label for="txtNotas">Notas</label>
	<textarea id="txtNotas" type="text" ng-model="Configuracion.nota" class="form-control"> </textarea>

</div>

<button class="btn btn-primary" ng-click="submit($parent.aplicacion)">{{ $parent.settings.action }}</button>