
.fondo_0{
	background-color: #F8ECE0;
    border-radius: 4px;
}
.fondo_17{
	background-color: #F22A2A;
    border-radius: 4px;
}
.fondo_33{
	background-color: #F4C127;
    border-radius: 4px;
}
.fondo_50{
	background-color: #FCF80A;
    border-radius: 4px;
}
.fondo_67{
	background-color: #50E464;
    border-radius: 4px;
}
.fondo_83{
	background-color: #378B43;
    border-radius: 4px;
}
.fondo_100{
	background-color: #50B0E4;
    border-radius: 4px;
}
.fuente_titulo{
	font-size: 12px;
}