<div class="row">
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="oracion in oraciones">
				<a href="#/edit/{{oracion.id}}">{{oracion.titulo}} - {{oracion.oracion}}</a>
				<div class="pull-right action-buttons">
					<a href="#/edit/{{oracion.id}}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a ng-click="remove(oracion.id)" class="trash">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>