<div class="row">
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="conf in Configuraciones">
				<a href="#/editConf/{{conf.id}}">{{conf.servidor}} - {{conf.ip}}</a>
				<p>
					<ul>
						<li>{{conf.usuario}}</li>
						<li>{{conf.password}}</li>
						<li>{{conf.nota}}</li>
					</ul>
				</p>
				<div class="pull-right action-buttons">
					<a href="#/editConf/{{conf.id}}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a ng-click="remove(conf.id)" class="trash">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>