
<div class="row">

<div class="panel panel-default">
	<div class="panel-heading">Estadisticas</div>
	<div class="panel-body">
	<div class="row">
		<div class="col-xs-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Estadisticas del estado de las aplicaciones</h3>
				</div>
				<div class="panel-body">
					<canvas id="AppStats" class="chart chart-doughnut" data="dataApp"  labels="labelsApp"></canvas> 
				</div>
			</div>
		</div>
		<div class="col-xs-6">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Estadisticas de los ingenieros</h3>
				</div>
				<div class="panel-body">
					<canvas id="IngMods" class="chart chart-bar" data="dataIng" labels="labelsIng" ></canvas> 
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	
		<div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Detalle Ingeniero - Modulo</h3>
				</div>
				<div class="panel-body">
					<div id="div_tabla_ing">
					
						<table class="table">
							<thead>
								<th>Nombre</th>
								<th>Aplicacion</th>
								<th>Modulo</th>
							</thead>
							<tbody>
							
								<tr ng-repeat="ing in dataIngModulos">
									<td>{{ing.nombres}}</td>
									<td>{{ing.nombre_aplicacion}}</td>
									<td>{{ing.nombre_modulo}}</td>
								</tr>
							
							</tbody>
							
						
						</table>
					
					</div>
				</div>
			</div>
		</div>
			
	</div>
	
  </div>
</div>

</div>

